.content-nav-div {
    display: flex;
    align-items: center;    
    justify-content: space-between;
    z-index: 1000;
    max-width: 1096px;
    padding: 0px 7px;
    height: 65px;
    width: 100%;
    
    list-style-type: none;
}
.links-button {
    display: flex;
    padding: 6px 1px;
    align-items: center;
    justify-content: center;
    gap: 57px;
    margin: 0;
    list-style-type: none;
}

.content-link a {
    text-decoration: none;
    color: #03363D;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
@media(max-width:1112px) {
    .burger-menu {
        display: flex;
    }

    .links-button{
        display: none;
    }   
}